<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub Search</title>
</head>
<body>
<h1>GitHub Search</h1>
<form action="/search" method="get">
    <label for="username">Search by Username:</label>
    <input type="text" id="username" name="username" placeholder="Enter an username">
    <br>
    <label for="repository">Search by Repository link:</label>
    <input type="text" id="repository" name="repositoryLink" placeholder="Enter a repo link">
    <br>
    <button type="submit">Search</button>
</form>

<div>
    <h2>Searching Results:</h2>
    <p th:text="${result}"></p>
</div>
</body>